.road-img{height:30%;width:75%;padding-bottom:20px}@media only screen and (max-width:600px){.road-img{width:80%;display:block;margin-left:auto;margin-right:auto}a{margin:auto}h1{text-align:center}p{text-align:center}.pagination{text-align:center}}